:host {
    display: block;
    margin-top: 1rem;
}

.info-text{
    text-align: center;
}

.edit{
    background-color: blue;
    color: white;
}

.delete{
    background-color: red;
    color: white;
    margin-left: 10px;
}

mat-spinner{
    margin: auto;
}

.post-image img {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.5);
}

.post-image {
    width: 100%;
}

mat-paginator{
    margin-top: 1rem;
}